<ons-toolbar modifier="transparent">
</ons-toolbar>

<ons-list class="menu-list">
    
    <ons-list-item class="menu-item"
                    ng-click="menu.setMainPage('navi1.html', {closeMenu: true})">
        Page1
    </ons-list-item>

    <ons-list-item class="menu-item"
                    ng-click="menu.setMainPage('navi2.html', {closeMenu: true})">
        Page2
    </ons-list-item>        
    
    <ons-list-item class="menu-item"
                    ng-click="menu.setMainPage('navi3.html', {closeMenu: true})">
        Page3
    </ons-list-item>
    <ons-list-item class="menu-item"
                    ng-click="menu.setMainPage('navi_oim1.html', {closeMenu: true})">
        Only-in-Menu Page1
    </ons-list-item>
    <ons-list-item class="menu-item"
                    ng-click="menu.setMainPage('navi_oim2.html', {closeMenu: true})">
        Only-in-Menu Page2
    </ons-list-item>    
</ons-list>
    
